.navbar{

    background-image: linear-gradient(75deg ,aqua,black);
    background-size: contain;
    background-position: top;

    background-repeat: no-repeat;
}
body{
    display:border-box;
    padding:0px;



    background-repeat: no-repeat;
    marign:0px;
}
.slide{
    display: flex;
    align-content: center;

    justify-content: flex-end;
    padding-right: 40px;
    align-items: center;
    flex-direction: row;
    background-image: linear-gradient(100deg,black 40% , aqua);
}
.first_container{
    height:80vh;
    /*    background-image: url(dylan-gillis-KdeqA3aTnBY-unsplash.jpg);*/
    background-attachment: fixed;
    background-image: linear-gradient(-150deg,black,aqua,black,aqua,black,aqua);

    background-position: center;
    background-size: cover;
    opacity: 0.9;
    /*    animation: change;*/
    display: flex;
    align-items:center;
    justify-content: space-around;

    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;


}

.first_container div{

    background-image: radial-gradient(circle,black,aqua,black,aqua,black,aqua);
    color:white;
    width:50vh;
    font-weight: 900;
    height: 50vh;
    border-radius: 100px;
    padding:40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 40px;

}
@keyframes change{
    0%{
        background-image: linear-gradient(-150deg,black,aqua,black,aqua,black,aqua);
    }
    25%{
        background-image:  linear-gradient(-120deg,black,aqua,black,aqua,black,aqua);



    }
    50%{
        background-image:  linear-gradient(-90deg,black,aqua,black,aqua,black,aqua);
    }
    75%{
        background-image: linear-gradient(-60deg,black,aqua,black,aqua,black,aqua);
    }
    100%{
        background-image:  linear-gradient(-30deg,black,aqua,black,aqua,black,aqua); 
    }
}


.navbar-container{
    height: 50vh;





    display:flex;
    flex-direction:column;
    justify-content: space-between;

}
.title{

    font-family: sans-serif;
    display:flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    /*   text-align: center;
    */
    flex-direction: row;

    color: black;





}
.title h1{
    font-size: 150px;
    margin-right: 20px;

}
.abc {
    font-size: 50px;
    /*    display: flex;
        align-content: center;
      font-weight: 900;
      justify-content: space-around;
      align-content: center;*/




}
.links{
    display: flex;
    flex-direction: column;
    height: 40vh;
    background-color: rgba(0,0,0,0.5);
    align-content: center;
    align-items: center;

    justify-content: space-around;

}
.slide{
    height: 10vh;

    display: flex;

}

.links ul li ,a{
    text-decoration: none;
    list-style: none;    
    font-family: sans-serif;
    color:black;
    font-weight: bold;
    padding:20px;
    text-align: center;



}
ul li a:hover{
    background-color: black;
    color:aqua;

}
.second_container{
    height: 70vh;

    background-image: linear-gradient(180deg,black,aqua,black,aqua);

    display: flex;
    align-items: center;
    color: aqua;

    justify-content: space-around
}
.second_container div{
    text-align: center;
    padding:40px;
    font-family: monospace;
    font-weight: 400;


    display:flex;
    align-items: center;
    justify-content: space-around;
    height:100px;
    width:600px;
    flex-direction: column;
    background-color: black;
    border-radius:10px;


    animation-duration: 2s;




}
@keyframes change_shadow{

    0%{box-shadow: 10px 10px 10px black;

    }
    50%{
        box-shadow: -50px 50px 50px black;
        padding:50px;
    }
    100%{
        box-shadow: 10px 10px 10px black;
    }

}
.second_container div h1{
    line-height: 3rem;
}
.second_container div p{

    font-family: cursive;
}
.third_container{
    height:40vh;
    background-image: radial-gradient(circle,black,aqua,black,aqua,black,aqua);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;



}
.fourth_container{
    height:50vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
flex-wrap: wrap;
    padding:40px;
    background-color: grey;
    border-bottom-color: black;
    border-bottom:  10px solid;
   
    padding-bottom: 100px;


}
.admin{
     
    height:300px;
    text-align: center;

    text-decoration: none;
    display: flex;
    width: 500px;
    background-image: url(2539.jpg);
    background-position: center;
    border-radius: 30px;
    background-size: cover;
    font-family: sans-serif;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px 100px 50px aqua;


}
.admin1{
     
    height:300px;
    text-align: center;

    text-decoration: none;
    display: flex;
    width: 500px;
  
    background-position: center;
    border-radius: 30px;
    background-size: cover;
    font-family: sans-serif;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px 100px 50px aqua;


}
.admin_image{
    display: flex;
    align-items: center;
    color:aqua;
    height: 200px;
    width:200px;
    justify-content: space-around;
    align-content:center;
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;


}
.HR{
    
    height:300px;
    text-align: center;
    text-decoration: none;
    display: flex;
    width: 500px;
    background-image: url(TpoLogin.jpg);
    background-position: center;
    border-radius: 30px;
    background-size: cover;
    box-shadow: 10px 10px 100px 50px aqua;

    font-family: sans-serif;
    justify-content: space-around;
    align-items: center;


}
.HR1{
  
    height:300px;
    text-align: center;
    text-decoration: none;
    display: flex;
    width: 500px;
   
    background-position: center;
    border-radius: 30px;
    background-size: cover;
    box-shadow: 10px 10px 100px 50px aqua;

    font-family: sans-serif;
    justify-content: space-around;
    align-items: center;


}
.hr_image{
    display: flex;
    align-items: center;
    color:aqua;
    height: 200px;
    width:200px;
    justify-content: space-around;
    align-content:center;
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;


}
.admin_image:hover{
    box-shadow: 10px 10px 150px 150px aqua ;
}
.admin:hover{
    box-shadow: 5px 5px 80px 50px black;


    border: 1px dashed aqua;

}
.HR:hover{
    box-shadow: 5px 5px 80px 50px black;


}
.hr_image:hover{
    box-shadow: 10px 10px 150px 150px aqua;
}
.sixth_container{
    height:50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: roboto,sans-serif;
    background-color: black;
    color: aqua ;
    margin:50px;
    padding:20px;
    line-height: 4rem;
    font-style: oblique;
    font-size:20px;

}
.footer{
    height:10vh;
    background-color: black;
    color:grey;

}
.copyright{
    height:10vh;
    position: relative;




    color:red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

